html, body {
width: 100vw;
height: 100vh;
}
#tableContainer {
width: 95vw;
height: 95vh
}

#tableContainer table {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  max-width:100%;
  height: 100%;
  max-height: 100%;
}

#tableContainer td {
  min-width: 35px;
  min-height: 35px;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

#tableContainer .bold-text {
  font-weight: bold;
}
